@model BookingKS.Models.LoaiPhong

@{
    ViewBag.Title = "Delete";
}

<h2>Loại Phòng</h2>
<h3>Bạn có chắc chắn muốn xóa thông tin này?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenLP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLP)
        </dd>

        

        

        <dt>
            @Html.DisplayNameFor(model => model.DG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DG)
        </dd>

        

    </dl>

    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Quay Lại", "Index")
        </div>
    }
</div>
<style>
    input, checkbox, select {
        margin-bottom: 10px;
    }

    label {
        font-weight: bolder;
    }
</style>