@model BookingKS.Models.Phong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout-Admin.cshtml";
}

<h2>Chi Tiết Phòng</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.LoaiPhong.tenLP, "Tên Loại Phòng ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.LoaiPhong.tenLP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tenPhong, "Tên Phòng ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.tenPhong)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LoaiPhong.tenLP, "Tên Loại Phòng ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.LoaiPhong.tenLP)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.sucChua, "Số lượng ngưởi ở", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.sucChua)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.donGia, "Giá phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.donGia)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.moTa, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.moTa)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.tinhTrang, "Tình trạng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DisplayFor(model => model.tinhTrang)
            </div>
        </div>    
    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.maPhong }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
<style>
    input, checkbox, select {
        margin-bottom: 10px;
    }

    label {
        font-weight: bolder;
    }
</style>