@model BookingKS.Models.LienHe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LienHe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayGui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayGui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
