<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <!--<link href="~/Content/Theme_KS/css1/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <!--<link href="~/Content/Theme_KS/css1/style.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/Theme_KS/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Theme_KS/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Theme_KS/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />


    <!--Fchat.vn-->
    <!--<script type="text/javascript" src="https://cdn.fchat.vn/assets/embed/webchat.js?id=65378d7523895e057e041753" async="async"></script>-->
    <!--End of Fchat.vn-->
   


    @Styles.Render("~/Content/Theme_KS/css/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>

            </div>
        </div>
        <!-- Spinner End -->
        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="@Url.Action("Index", "Hotel")" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">Hotel QP</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <!--   <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">info@example.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+012 345 6789</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                <a class="" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div> -->
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="#" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="@Url.Action("Index", "Hotel")" class="nav-item nav-link ">Trang Chủ</a>
                                <a href="@Url.Action("About", "Hotel")" class="nav-item nav-link">Giới thiệu</a>
                                <a href="@Url.Action("Service", "Hotel")" class="nav-item nav-link">Dịch vụ</a>
                                <a href="@Url.Action("Index", "Room")" class="nav-item nav-link">Phòng</a>
                                @*<div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                        <div class="dropdown-menu rounded-0 m-0">
                                            <a href="@Url.Action("Booking", "Hotel")" class="dropdown-item">Booking</a>
                                            <a href="team.html" class="dropdown-item">Our Team</a>
                                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                        </div>
                                    </div>*@
                                <a href="@Url.Action("Contact", "Hotel")" class="nav-item nav-link">Liên Hệ</a>

                            </div>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </nav>
                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            // Lấy đường dẫn hiện tại của trang
                            var currentPath = window.location.pathname;

                            // Loại bỏ các dấu gạch chéo (/) ở đầu và cuối đường dẫn
                            currentPath = currentPath.replace(/^\/|\/$/g, '');

                            // Kiểm tra từng liên kết và thêm class "active" cho liên kết có đường dẫn trùng khớp
                            $('.navbar-nav a').each(function () {
                                var linkPath = $(this).attr('href').replace(/^\/|\/$/g, '');
                                if (currentPath === linkPath) {
                                    $(this).addClass('active');
                                }
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
        <!-- Header End -->
        @RenderBody()
        <!-- ChatBot -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


        @*<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />*@

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


        <link rel="stylesheet" href="~/Content/Theme_KS/css/chat.css">

        <div id="body">

            <div id="chat-circle" class="btn btn-raised">
                <div id="chat-overlay"></div>
                @*<i class="material-symbols-rounded">speaker_phone</i>
                    <span class="material-symbols-outlined">
                        login
                    </span>*@
                <i class="material-symbols-outlined">
                    chat
                </i>

            </div>


            <div class="chat-box">
                <div class="chat-box-header">
                    Hỗ Trợ Khách Hàng
                    <span class="chat-box-toggle"><i class="material-icons">close</i></span>
                </div>
                <div class="chat-box-body">
                    <div class="chat-box-overlay">
                    </div>
                    <div class="chat-logs">

                    </div><!--chat-log -->
                    <!-- Fchat -->
                    <button href="#" id="showWebchat">Chat Trực Tiếp Với Nhân Viên Tư Vấn</button>
                    <script type="text/javascript" id="webchatScript" async="async"></script>
                    <script>
                        function loadWebchat() {
                            if (!document.getElementById('webchatScript').src) {
                                document.getElementById('webchatScript').src = "https://cdn.fchat.vn/assets/embed/webchat.js?id=65378d7523895e057e041753";
                                customizeFchatCSS();
                            }
                        }
                        function customizeFchatCSS() {
                            var customCSS = `
                                                    /* Đoạn CSS tùy chỉnh của bạn */
                                                    body {
                                                        background-color: #f0f0f0;
                                                    }
                                                `;
                            var style = document.createElement('style');
                            style.type = 'text/css';
                            style.appendChild(document.createTextNode(customCSS));
                            document.head.appendChild(style);
                        }

                        document.getElementById('showWebchat').addEventListener('click', function (event) {
                            event.preventDefault();
                            loadWebchat();
                        });
                    </script>
                </div>
                <div class="chat-msg user">
                    <div class="button-container">
                        <button class="cm-msg-text">
                            <span class="question-button">Làm thế nào để tôi đặt phòng</span>
                        </button>
                        <button class="cm-msg-text">
                            <span class="question-button">Tôi muốn xem các dịch vụ hỗ trợ</span>
                        </button>
                        <button class="cm-msg-text">
                            <span class="question-button">Tôi muốn đăng ký tài khoản người dùng</span>
                        </button>
                        <button class="cm-msg-text">
                            <span class="question-button">Ở đây có bao nhiêu phòng? Có các loại phòng nào</span>
                        </button>



                    </div>
                </div>


                <div class="chat-input">
                    <form>
                        <input type="text" id="chat-input" placeholder="Send a message..." />
                        <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
                    </form>
                </div>
            </div>




        </div>

        <script>
            $(function () {
                var INDEX = 0;
                // Hàm gửi tin nhắn tự động sau một khoảng thời gian
                function autoSendMessage(message, delay) {
                    setTimeout(function () {
                        generate_message(message, 'user');
                    }, delay);
                }

                function autoReply(message) {
                    setTimeout(function () {
                        generate_message(message, 'user');
                    }, 1000);
                }

                autoSendMessage("Chào mừng bạn đến với website BookingKS!", 2500);

                $("#chat-submit").click(function (e) {
                    e.preventDefault();
                    var msg = $("#chat-input").val();
                    if (msg.trim() == '') {
                        return false;
                    }
                    generate_message(msg, 'self');
                    handleUserMessage(msg); // Xử lý tin nhắn từ người dùng
                });

                function generate_message(msg, type) {
                    INDEX++;
                    var str = `
                                                                                <div id='cm-msg-${INDEX}' class="chat-msg ${type}">
                                                                                    <span class="msg-avatar"></span>
                                                                                    <div class="cm-msg-text">${msg}</div>
                                                                                </div>
                                                                            `;
                    $(".chat-logs").append(str);
                    $("#cm-msg-" + INDEX).hide().fadeIn(300);
                    if (type == 'self') {
                        $("#chat-input").val('');
                    }
                    $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight }, 1000);
                }

                function handleUserMessage(message) {
                    // Xử lý tin nhắn từ người dùng ở đây và tạo phản hồi từ chatbot
                    if (message.toLowerCase().includes("xin chào") || message.toLowerCase().includes("chào")) {
                        var nowTime = new Date();
                        var nowHour = nowTime.getHours();
                        var greeting = '';

                        if (nowHour >= 12 && nowHour <= 16) {
                            greeting = 'Chào buổi chiều';
                        } else if (nowHour >= 10 && nowHour < 12) {
                            greeting = 'Hi';
                        } else if (nowHour >= 0 && nowHour < 10) {
                            greeting = 'Chào buổi sáng';
                        } else {
                            greeting = 'Chào buổi tối';
                        }

                        autoReply(greeting);
                        autoReply("Tôi có thể giúp gì cho bạn?");
                    } else if (message.toLowerCase().includes("còn phòng nào khác không") || message.toLowerCase().includes("chào")) {
                        autoReply("Nếu như bạn không thể tìm thấy phòng nghỉ phù hợp với nhu cầu của mình, bạn có thể liên hệ trực tiếp nhân viên để được tư vấn cụ thể. Mọi thông tin chi tiết tại trang 'Liên Hệ'.");
                    } else {
                        autoReply("Xin lỗi, tôi không hiểu câu hỏi của bạn. Vui lòng thử lại hoặc liên hệ với chúng tôi.");
                    }
                }

                // Thêm các xử lý cho tin nhắn từ người dùng ở đây

                //$(document).delegate(".question-button", "click", function () {
                //    var questionText = $(this).text();
                //    var answer = getAnswerForQuestion(questionText);
                //    generate_message(questionText, 'self');
                //    generate_message(answer, 'user');
                //});


                function generate_button_message(msg, buttons) {
                    /* Buttons should be object array
                      [
                        {
                          name: 'Existing User',
                          value: 'existing'
                        },
                        {
                          name: 'New User',
                          value: 'new'
                        }
                      ]
                    */
                    INDEX++;
                    var btn_obj = buttons.map(function (button) {
                        return "              <li class=\"button\"><a href=\"javascript:;\" class=\"btn btn-primary chat-btn\" chat-value=\"" + button.value + "\">" + button.name + "<\/a><\/li>";
                    }).join('');
                    var str = "";
                    str += "<div id='cm-msg-" + INDEX + "' class=\"chat-msg user\">";
                    str += "          <span class=\"msg-avatar\">";
                    str += "            <img src=\"https:\/\/image.crisp.im\/avatar\/operator\/196af8cc-f6ad-4ef7-afd1-c45d5231387c\/240\/?1483361727745\">";
                    str += "          <\/span>";
                    str += "          <div class=\"cm-msg-text\">";
                    str += msg;
                    str += "          <\/div>";
                    str += "          <div class=\"cm-msg-button\">";
                    str += "            <ul>";
                    str += btn_obj;
                    str += "            <\/ul>";
                    str += "          <\/div>";
                    str += "        <\/div>";
                    $(".chat-logs").append(str);
                    $("#cm-msg-" + INDEX).hide().fadeIn(300);
                    $(".chat-logs").stop().animate({ scrollTop: $(".chat-logs")[0].scrollHeight }, 1000);
                    $("#chat-input").attr("disabled", true);
                }

                $(document).delegate(".chat-btn", "click", function () {
                    var value = $(this).attr("chat-value");
                    var name = $(this).html();
                    $("#chat-input").attr("disabled", false);
                    generate_message(name, 'self');
                })

                $("#chat-circle").click(function () {
                    $("#chat-circle").toggle('scale');
                    $(".chat-box").toggle('scale');
                })

                $(".chat-box-toggle").click(function () {
                    $("#chat-circle").toggle('scale');
                    $(".chat-box").toggle('scale');
                })

                $(document).delegate(".question-button", "click", function () {
                    var questionText = $(this).text();
                    var answer = getAnswerForQuestion(questionText);
                    generate_message(questionText, 'self');
                    generate_message(answer, 'user');

                });

                function getAnswerForQuestion(questionText) {
                    // Thêm logic để xác định câu trả lời dựa trên câu hỏi
                    if (questionText.includes("Làm thế nào để tôi đặt phòng")) {
                        return "Để đặt phòng, điều đầu tiên bạn cần làm chọn phòng phù hợp với nhu cầu của mình, sau đó ấn vào nút Đặt Ngay. Tiếp theo, bạn chỉ cần điền thông tin cá nhân và Xác Nhận";
                    } else if (questionText.includes("Tôi muốn xem các dịch vụ hỗ trợ")) {
                        return "Mọi dịch vụ của BookingHotel đều có tại trang Dịch Vụ, bạn chỉ cần nhấn vào đó!";
                    } else if (questionText.includes("Tôi muốn đăng ký tài khoản người dùng")) {
                        return "Để đăng kí tài khoản người dùng, bạn chỉ cần nhấn vào nút đăng kí có tại trang chủ. Tiếp theo điền thông tin của bạn sau đó nhấn vào nút Đăng Kí";
                    } else if (questionText.includes("Ở đây có bao nhiêu phòng? Có các loại phòng nào")) {
                        return "Hiện tại, BookingHotel có 123 phòng. Bao gồm các loại phòng : Gia Đình, Giá Rẻ, Cặp Đôi, Sang Trọng!";
                    }
                    // Thêm các câu trả lời cho câu hỏi khác ở đây
                }


            })
        </script>
        <!-- Chatbot end -->
        <!-- Newsletter Start -->
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-10 border rounded p-1">
                    <div class="border rounded text-center p-1">
                        <div class="bg-white rounded text-center p-5">
                            <h4 class="mb-4">Theo Dõi Tin Tức <span class="text-primary text-uppercase">Hotel QP</span></h4>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Nhập Địa Chỉ Email">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Xác Nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Start -->
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="@Url.Action("Index", "Hotel")"><h1 class="text-white text-uppercase mb-3">Hotel QP</h1></a>
                            <p class="text-white mb-0">
                                Chúng tôi tự hào nói rằng kể từ khi mở cửa đến nay, chúng tôi đã phục vụ khách truy cập theo cách tốt nhất có thể. Trong khách sạn QP, với cá tính và phong cách riêng – sẽ giúp bạn cảm thấy như ở nhà và sống trải nghiệm như bạn sẽ không bao giờ tưởng tượng được..
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Liên Hệ</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Khu E, Quận 9, HCM, VN</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Công Ty</h6>
                                <a class="btn btn-link" href="">Thông tin</a>
                                <a class="btn btn-link" href="">Liên Hệ</a>
                                <a class="btn btn-link" href="">Chính sách bảo mật</a>
                                <a class="btn btn-link" href="">Điều khoản & Điều kiện</a>
                                <a class="btn btn-link" href="">Hỗ Trợ</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Dịch vụ</h6>
                                <a class="btn btn-link" href="">Thực phẩm & Nhà hàng</a>
                                <a class="btn btn-link" href="">Spa & Làm Đẹp</a>
                                <a class="btn btn-link" href="">Thể Thao & Giải Trí</a>
                                <a class="btn btn-link" href="">Sự Kiện & Bữa Tiệc</a>
                                <a class="btn btn-link" href="">Thể Hình & Yoga</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="@Url.Action("Index", "Hotel")" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Theme_KS/lib/wow/wow.min.js"></script>
    <script src="~/Content/Theme_KS/lib/easing/easing.min.js"></script>
    <script src="~/Content/Theme_KS/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/Theme_KS/lib/counterup/counterup.min.js"></script>
    <script src="~/Content/Theme_KS/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Theme_KS/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Content/Theme_KS/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Content/Theme_KS/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script src="~/Content/Theme_KS/js/main.js"></script>




    @RenderSection("scripts", required: false)

</body>

</html>