@model BookingKS.Models.DanhSachQuyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout-Admin.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa thông tin này?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nhóm nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhomNhanSu.TenNhom)
        </dd>

        <dt>
            Tên Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen.TenQuyen)
        </dd>

        <dt>
            Ghi Chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Quay Lại", "Index")
        </div>
    }
</div>
