@model BookingKS.Models.NhanVien

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
            @Html.LabelFor(model => model.tenNV, "Tên NV", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maNV }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
<style>
    input, checkbox, select {
        margin-bottom: 10px;
    }

    label {
        font-weight: bolder;
    }
</style>