@using BookingKS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
}

<main aria-labelledby="title">
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/Content/Theme_KS/img/carousel-3.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center pb-5">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Trang Đăng Nhập</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Hotel")">Trang Chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Đăng nhập</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row g-3">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-6">
                            <div class="col-form-label">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="row g-3">
                        @Html.LabelFor(m => m.Password,"Mật khẩu", new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-6">
                            <div class="col-form-label">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="col-form-label">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe, "Lưu mật khẩu")
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="col-form-label">
                                <input type="submit" value="Đăng nhập" class="btn btn-outline-dark" />
                            </div>
                            
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <div class="col-form-label">
                                <p>
                                    @Html.ActionLink("Đăng ký mới tài khoản", "Register")
                                </p>
                            </div>
                           
                        </div>
                    </div>
                    

                }
            </section>
        </div>
        <!--<div class="col-md-12">
            <section>
                <div class="form-box">
                    <div class="form-value">
                        <form action="">
                            <h2>Login</h2>
                            <div class="inputbox">
                                <ion-icon name="mail-outline"></ion-icon>
                                <input type="email" required>
                                <label for="">Email</label>
                            </div>
                            <div class="inputbox">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" required>
                                <label for="">Password</label>
                            </div>
                            <div class="forget">
                                <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>

                            </div>
                            <button>Log in</button>
                            <div class="register">
                                <p>Don't have a account <a href="#">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <style>-->
        @*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');*@
        <!--*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;

            background: url('../../content/theme_ks/img/carousel-1.jpg')no-repeat;
            background-position: center;
            background-size: cover;
        }
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input{
    margin-right: 3px;

}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
            </style>
        </div>-->
    </div>
    
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}